html {
  cursor: url('public/arrow.cur'), auto !important;
}

a,
button,
.home-link,
input[type="submit"],
input[type="button"],
select,
[role="button"] {
  cursor: url('public/click.cur'), pointer !important;
}
